In [31]:
# project: p6
# submitter: dslevin2
# partner: bundt
# hours: 7

In [2]:
import csv
import math

In [3]:
def process_csv(filename):
    exampleFile = open(filename, encoding="utf-8")
    exampleReader = csv.reader(exampleFile)
    exampleData = list(exampleReader)
    exampleFile.close()
    return exampleData

# use process_csv to pull out the header and data rows
csv_rows = process_csv("airbnb.csv")
csv_header = csv_rows[0]
csv_data = csv_rows[1:]

In [4]:
def cell(row_idx, col_name):
    col_idx = csv_header.index(col_name)
    val = csv_data[row_idx][col_idx]
    if val == "":
        return None
    elif col_name == 'number_of_reviews':
        return int(val)
    else:
        return val

In [5]:
#Q1:
def neighborhood_group():
    neighborhood_groups = []
    for i in range(len(csv_rows) - 1):
        val = cell(i,'neighborhood_group')
        if val not in neighborhood_groups:
            neighborhood_groups.append(val)
    return neighborhood_groups
neighborhood_group()

['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx']

In [6]:
#Q2:
def number_of_reviews():
    tracker = 0
    for i in range(len(csv_rows) - 1):
        val = cell(i,'number_of_reviews')
        val = int(val)
        tracker = tracker + val
        
    return math.floor(tracker/(len(csv_rows)-1))
        
number_of_reviews()

23

In [7]:
#Q3:
def soho_rooms():
    soho_rooms = []
    tracker = 0
    for i in range(len(csv_rows) - 1):
        if cell(i,'neighborhood') == 'SoHo' and cell(i,'room_id') is not None:
            tracker = tracker + 1
    return tracker
soho_rooms()

358

In [8]:
#Q4:
def find_room_names(contained):
    # TODO: create a list
    room_names = []
    # TODO: check if the room contains the `contained` parameter (case insensitive)
    for i in range(len(csv_rows) - 1):
        val = cell(i,'name')
        if val is not None:
            if contained.lower() in cell(i,'name').lower() and contained.lower() != None:
                room_names.append(val)
    return room_names

    # TODO: add every unmodified room name to the return list
    # TODO: return your list of room names
find_room_names("MSG")

['The Epic: Right by MSG',
 'Lavish 3 bedroom near Penn Station / MSG',
 'Stately Midtown Studio w/ Doorman, Gym, near MSG by Blueground',
 'Room Near Times Square/Javits/Hells Kitchen/MSG',
 'Cheery Midtown 1BR w/ Doorman + Gym, near MSG by Blueground',
 'Homey Hudson Yards w/ Gym + Doorman, near MSG by Blueground',
 'Private Room With Kitchen Across From MSG',
 'Accessible Two Bedded Suite With Kitchen near MSG',
 'Two Beds in Private Room near Times Square and MSG',
 'Private and Spacious Queen Room Across From MSG',
 'Comfy Kips Bay 1BR w/ Gym, Doorman + Sundecks, walk to MSG by Blueground',
 'A+ Chelsea Location! MSG, Javits, Penn!',
 'Heart of Williamsburg living for 1-5 msg!',
 '3 Bedroom by MSG + Empire State',
 'Next to Times Square/Javits/MSG! Amazing 1BR!']

In [9]:
#Q5:
def cinema_film():
    room_names = find_room_names('cinema')
    for i in range(len(csv_rows) - 1):
        val = cell(i,'name')
        if val is not None and val not in room_names:
            if 'film' in cell(i,'name').lower():
                room_names.append(val)
    return room_names
cinema_film()

['HUGE LUX 2FLOOR 2 BDRMSOHO LOFTw/HOME CINEMA',
 'Cinema Studio on Duplex Apt.',
 'Cool apartment in Brooklyn with free cinema & gym',
 'Cinema + gym included with room',
 'TV-PHOTO-FILM-CINEMA-ART GALLERY-MUSIC STUDIO-LOFT',
 'Premium Chelsea 1BR w/ Gym, W/D, Doorman, Sundeck, Cinema, by Blueground',
 'Stunning Chelsea 1BR w/ Gym, W/D, Doorman, Sundeck, Cinema, by Blueground',
 'Sunny private room featured in film',
 "Downtown Filmmaker's Loft by WTC",
 'Film Location',
 'Brooklyn townhouse for filming',
 'WoodyAllen FilmSet-Like Digs (Apt)',
 'WoodyAllen FilmSet-Like Digs (Room)',
 'Film / photography location in unique apartment',
 'The Otheroom Bar/Event/Filming Space -read details',
 'Victorian Film location',
 'Modern Townhouse for Photo, Film &  Daytime Events',
 'Shoot. Film. Sleep. Unique Loft Space in Brooklyn.',
 'Clean music/film themed bedroom',
 'Music Recording Mixing Film Photography Art']

In [10]:
#Q6:
def aisle_ana():
    host_names = []
    for i in range(len(csv_rows) - 1):
        val = cell(i,'host_name')
        if val is not None and len(val) == 5:
            if 'a' in val.lower() and 'i' in val.lower() and 's' in val.lower() and 'l' in val.lower() and 'e' in val.lower():
                if val not in host_names:
                    host_names.append(val)
    return host_names
aisle_ana()

['Elisa', 'Elias', 'Leisa']

In [11]:
#Q7:
def review_per_month():
    rooms = []
    for i in range(len(csv_rows) - 1):
        val = cell(i,'room_id')
        store = cell(i, 'reviews_per_month')
        if val is not None and store is not None:
            store = float(store)
            if store > 15:
                rooms.append(val)
    return rooms
review_per_month()

['16276632',
 '18173787',
 '21550302',
 '22176831',
 '22750161',
 '28826608',
 '30423106',
 '31090222',
 '31249784',
 '32678719',
 '32678720']

In [12]:
#Q8:
def percentage_rooms():
    totals_rooms = []
    rooms_type = []
    for i in range(len(csv_rows) - 1):
        val = cell(i,'room_type')
        totals_rooms.append(val)
        if(val == "Entire home/apt"):
            rooms_type.append(val)
    return 100 * (len(rooms_type)) / (len(totals_rooms))
percentage_rooms()

51.96645873811228

In [13]:
#Q9:
def staten_island():
    room_ids = []
    for i in range(len(csv_rows) - 1):
        val = cell(i,'neighborhood_group')
        if(val == 'Staten Island'):
            store = cell(i, 'last_review')
            room_id = cell(i, 'room_id')
            if val is not None and store is not None:
                store = store[0:4]
                store = int(store)
                if store < 2018:
                    room_ids.append(room_id)
    return room_ids
staten_island()

['712136',
 '738588',
 '826307',
 '1598033',
 '2794725',
 '8253376',
 '9045427',
 '12914239',
 '15949915',
 '15988392',
 '17475711']

In [14]:
def availability_per_host_name(host_name, neighborhood_group=None):
    # TODO: create a list
    rooms = []
    rooms_no_dup = []
    # TODO: add every availability matching the host_name and neighborhood_group to the list as an int
    for i in range(len(csv_rows) - 1):
        val1 = cell(i,'host_name')
        val2 = cell(i,'neighborhood_group')
        val3 = cell(i, 'availability_365')
        if(val1 is not None and val3 is not None):
            if(val1.lower() == host_name.lower() and val2 == neighborhood_group):
                if(val3 not in rooms):
                    val3 = int(val3)
                    rooms.append(val3)
        if(neighborhood_group is None and val1 is not None):
             if(val1.lower() == host_name.lower()):
                if(val3 not in rooms):
                    val3 = int(val3)
                    rooms.append(val3)
        for i in rooms:
            if i not in rooms_no_dup:
                rooms_no_dup.append(i)
                
        rooms_no_dup.sort(reverse = True)
                    
    return rooms_no_dup
    # TODO: return your list of availabilities

In [15]:
#Q10:
availability_per_host_name('Stanley', 'Brooklyn')

[360, 353, 348, 333, 321, 308, 264, 106, 15, 0]

In [16]:
#Q11:
def find_difference():
    rooms = availability_per_host_name('Helena')
    max1 = 0
    min1 = 1000
    for i in rooms:
        if i < min1:
            min1 = i
        if i > max1:
            max1 = i
    return max1 - min1
find_difference()

253

In [17]:
def find_prices_within(lat_min, lat_max, long_min, long_max):
    # TODO: create a list
    prices = []
    # TODO: add every price of rooms that locate in the given area to the list
    for i in range(len(csv_rows) - 1):
        val1 = cell(i,'latitude')
        val2 = cell(i,'longitude')
        if(val1 is not None and val2 is not None):
            val1 = float(val1)
            val2 = float(val2)
            if(val1 >= lat_min and val1 <= lat_max and val2 >= long_min and val2 <= long_max):
                val3 = cell(i, 'price')
                prices.append(val3)
    return prices
    # TODO: return the filled list of prices

In [18]:
#Q12:
def avg_price():
    values = find_prices_within(40.50, 40.75, -74.00, -73.95)
    tracker = 0
    for i in values:
        i = int(i)
        tracker = tracker + i
    return tracker / (len(values))
avg_price()

169.4356387798248

In [19]:
#Q13:
def high_price():
    values = find_prices_within(40.75, 41.00, -73.95, -73.85)
    max1 = 0
    for i in values:
        i = int(i)
        if i > max1:
            max1 = i
    return max1
high_price()

10000

In [20]:
#Q14:
def per_room():
    values = find_prices_within(40.50, 41.00, -74.00, -73.85)
    counter = 0
    for i in values:
        i = int(i)
        if i < 100:
            counter = counter + 1
    return 100 * (counter / len(values) )
        
per_room()

45.27971221694415

In [21]:
#Q15:
def average_ratio():
    tracker = 0
    average = 0
    counter = 0
    for i in range(len(csv_rows) - 1):
        val1 = cell(i,'neighborhood')
        val2 = cell(i,'number_of_reviews')
        val3 = cell(i, 'availability_365')
        val2 = int(val2)
        val3 = int(val3)
        if(val1 == 'Manhattan Beach' and val3 != 0):
            tracker = tracker + (val2/val3)
            counter = counter + 1
    return tracker/counter
average_ratio()

0.27323293295076073

In [22]:
#Q16:
def average_ratio(neighbor):
    tracker = 0
    average = 0
    counter = 0
    for i in range(len(csv_rows) - 1):
        val1 = cell(i,'neighborhood')
        val2 = cell(i,'number_of_reviews')
        val3 = cell(i, 'availability_365')
        val2 = int(val2)
        val3 = int(val3)
        if(val1 == neighbor and val3 != 0):
            tracker = tracker + (val2/val3)
            counter = counter + 1
    return tracker/counter
average_ratio('Riverdale')

0.04373233413721522

In [24]:
#Q17
def highest_ratio(group):
    ratio = []
    neighbor = []
    highest = 0
    highest_ratio = ''
    for i in range (len(csv_rows) - 1):
        if cell(i, "neighborhood_group") == group:
            neighbors = cell(i, "neighborhood")
            if neighbors not in neighbor:
                neighbor.append(neighbors)
    for i in range(len(neighbor)):
        if average_ratio(neighbor[i]) > highest:
            highest = average_ratio(neighbor[i])
            highest_ratio = neighbor[i]
    return highest_ratio
highest_ratio("Queens")

'Fresh Meadows'

In [25]:
def secondary_word_in_found_rooms(find_room_word, secondary_word):
    counter = 0
    tracker = 0
    list_names = find_room_names(find_room_word)
    for x in list_names:
        counter = counter + 1
        if(secondary_word.lower() in x.lower()):
            tracker = tracker + 1
    return 100 * (tracker/counter)

In [26]:
#Q18
secondary_word_in_found_rooms('cozy', 'home')

3.9522598317354727

In [27]:
#Q19
secondary_word_in_found_rooms('pool', 'gym')

48.92086330935252

In [28]:
def min_money(group, days):
    low_price = 100000000
    for i in range(len(csv_rows) - 1):
        neighborhood_group = cell(i, 'neighborhood_group')
        if(neighborhood_group.lower() == group.lower()):
            aval = cell(i, 'availability_365')
            min_nights = cell(i, 'minimum_nights')
            if(aval is not None and min_nights is not None):
                aval = int(aval)
                min_nights = int(min_nights)
                if(aval >= days and min_nights <= days):
                    price = cell(i, 'price')
                    price = int(price)
                    if price < low_price:
                        low_price = price
    return low_price

In [29]:
#Q20
def compute_min():
    return (min_money("Manhattan", 10)*10) + (min_money("Staten Island", 5) *5)
compute_min()

175